@import "tailwindcss";

* {
  box-sizing: border-box;
}

/* Title styling (pointed lines) */
.clip-point-left {
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}
.clip-point-right {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
}
